//color base
$color-white: #fff;
$color-blue: #007bff;
$color-blue-light: #BFD3F7;
$color-blue-dark: #132547;

//color site
$color-bg: $color-white;
$color-bg2: #ececec;
$color-bg3: #E8EDFC;
$color-bg4: #E2DED5;
$color-bg5: #454545;
$color-link: $color-blue;
$color-link-hover: #0000ff;
$color-text: #333;
$color-text2: #818181;
$color-text2: #767676;
$color-border: #ddd;
$color-border2: #E8EDFC;
$color-border3: #BFCAED;
$color-border4: #9EA9C9;
$color-border5: #DEDEDE;
$color-time: #999;

//color main
$color-primary: #5BC0A6;
$color-primary-light-max: #F4FDFF;
$color-secondary: #6c757d;
//$color-info: #17a2b8;
//$color-success: #28a745;
//$color-warning: #ffc107;
$color-danger: #FD5B5B;
//$color-light: #f8f9fa;
//$color-dark: #343a40;

//color list
$color-black: #000;
//$color-indigo: #6610f2;
//$color-purple: #6f42c1;
//$color-pink: #e83e8c;
//$color-red: #dc3545;
$color-orange: #FB8200;
$color-orange-medium: #F77500;
$color-orange-light: #EB9138;
//$color-yellow: #ffc107;
$color-green: #5B874B;
$color-green-dark: #5A8A7E;
//$color-teal: #20c997;
//$color-cyan: #17a2b8;
//$color-gray: #6c757d;
$color-gray-medium: #59606B;
$color-gray-light: #F7F7F7;
$color-gray-light2: #E9E9E9;
$color-gray-light3: #e7e7ed;
//$color-gray-dark: #343a40;
$color-shadow: #B1BCC7;

//width
$container-sm: 576px;
$container-sm-number: 576;
$container-md: 738px;
$container-md-number: 738;
$container-lg: 970px;
$container-lg-number: 970;
$container-xl: 1170px;
$container-xl-number: 1170;

//grid size
$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

//grid size max
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);
$screen-xl-max: ($screen-xxl - 1);

//font
$font-arial: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'Open Sans','Roboto',Arial,sans-serif;
$font-awesome: 'FontAwesome';
$font-awesome-5-free: 'Font Awesome 5 Free';
$font-quicksand: 'Quicksand', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-site: $font-quicksand;
$font-title: $font-montserrat;

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-md: 14px;
$line-height-md: 20px;