/*---------- header css ----------*/
.c-menu-expand{
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -16px;
  right: 15px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  &:focus{
    outline: none;
    border: none;
  }
  span{
    background-color: $color-white;
    font-size: 0;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 15px;
    left: 1px;
    @include border-radius(2px);
    &:before, &:after{
      content: "";
      background-color: $color-white;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      @include transition-all(0.4s);
      @include border-radius(2px);
    }
    &:before{
      transform: translateY(-8px);
      width: 100%;
    }
    &:after{
      transform: translateY(8px);
      width: 100%;
    }
  }
  &.active{
    span{
      background-color: transparent;
      left: 5px;
      &:before, &:after{
        background-color: $color-white;
      }
      &:before{
        transform: translateY(0px) rotate(45deg);
        width: 24px;
      }
      &:after{
        transform: translateY(0px) rotate(-45deg);
        width: 24px;
      }
    }
  }
}
.l-nav{
  background-color: rgba($color-white,0.1);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  &.has-fixed{
    background-color: rgba($color-orange,0.9);
  }
}
.c-header{
  position: relative;
  z-index: 10;
}
.c-header-inner{
  height: 60px;
}
.c-logo{
  display: inline-block;
  vertical-align: middle;
  a{
    display: block;
    height: 60px;
    text-decoration: none;
    line-height: 58px;
  }
  img{
    width: auto;
    height: auto;
    max-height: 60px;
    max-width: 100%;
  }
}
.c-header-right{
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  right: 0;
  background-color: rgba($color-secondary,0.9);
  display: none;
}
.c-header-admin{
  border-bottom: 1px solid rgba($color-white,0.2);
}
.c-admin-nologin{
  padding: 10px 15px;
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      >a{
        display: block;
        text-decoration: none;
        font-weight: 500;
        color: $color-white;
        text-align: center;
        padding: 9px 20px;
      }
      &.li-button{
        >a{
          background-color: $color-primary;
          color: $color-black;
          font-weight: 700;
          @include border-radius(20px);
          @include box-shadow(0px 4px 0px #48AC92, 0px 10px 30px rgba(0, 0, 0, 0.18));
        }
      }
    }
  }
}
.c-user-login{
  padding-top: 1px;
  position: relative;
  >a{
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row;
    figure{
      width: 38px;
      height: 38px;
      border: 1px solid $color-white;
      overflow: hidden;
      margin: 0;
      @include border-radius(50%);
      img{
        width: 100%;
        height: auto;
        min-height: 100%;
      }
    }
    span{
      padding-left: 10px;
      overflow: hidden;
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.c-user-guest{
  padding-top: 5px;
  >ul{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    >li{
      width: percentage(1/2);
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      >a{
        color: $color-white;
        display: block;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        padding: 9px 15px;
        border: 1px solid $color-white;
        white-space: nowrap;
        @include border-radius(21px);
      }
    }
  }
}
//.c-search{
//  .c-search__inner{
//    position: relative;
//    z-index: 1;
//  }
//  .form-control{
//    background-color: transparent;
//    border: none;
//  }
//  .c-search__btn{
//    position: absolute;
//    z-index: 2;
//    top: 0;
//    right: 0;
//    padding: 0;
//    text-align: center;
//    border: none;
//    &:focus{
//      outline: none;
//    }
//  }
//}
//header responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-menu-expand{
    display: none;
  }
  .c-header-inner{
    position: relative;
    z-index: 10;
  }
  .c-header-right{
    display: flex !important;
    background-color: transparent;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    left: auto;
    justify-content: flex-start;
    width: calc(100% - 200px);
  }
  .c-header-admin{
    border-bottom: none;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    &:before{
      position: absolute;
      z-index: 2;
      height: 18px;
      width: 1px;
      background-color: $color-white;
      top: 12px;
      left: 0;
    }
  }
  .c-admin-nologin{
    padding: 0;
    >ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      >li{
        margin-bottom: 0;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
        >a{
          padding: 9px 30px;
        }
      }
    }
  }
  .c-user-login{
    >a{
      @include transition-all(0.2s);
      &:hover{
        color: $color-primary;
      }
    }
  }
  .c-user-guest{
    padding-top: 0;
    padding-left: 10px;
    min-width: 190px;
    >ul{
      >li{
        position: relative;
        z-index: 1;
        &+li{
          &:before{
            //content: "/";
            position: absolute;
            z-index: 2;
            top: 10px;
            left: -5px;
            color: $color-white;
          }
        }
        >a{
          border: none;
          padding: 9px 0;
          position: relative;
          z-index: 1;
          &:before{
            content: "";
            background-color: $color-primary;
            height: 9px;
            position: absolute;
            z-index: -1;
            bottom: 9px;
            left: 0;
            right: 0;
            display: none;
          }
          &:hover{
            &:before{
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//header responsive css
/*---------- end header css ----------*/