/*---------- example css ----------*/
.c-news-block{
  background-color: $color-gray-light3;
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (min-width: $screen-xxl-min){//pc largr size with 1400px tp grow up

}
//end example responsive css
/*---------- end example css ----------*/